CMakeCache.txt
CMakeFiles
CMakeSettings.json
Makefile
install_manifest.txt
*.cbp
*.a
*.so
*.lnk
.sw
doc/
Thumbs.db
.idea/
docs/
cmake-build-*
cmake_build
.cache

src/api_types_cmp.cpp

.vs/
.vscode/
.trash/
build/
out/


build*
test.log

.DS_Store
vcpkg_installed
compile_commands.json
CMakePresets.json
